/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Estiliza o corpo da página */
body {
    font-family: "Merriweather", serif; /* Define a fonte padrão */
    font-weight: 300;
    font-style: normal;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background-color: #1A1A40;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('56542b81f3ab15693ad95a3031065c5a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
    z-index: 0; /* Coloca o overlay acima da imagem */
  }

/* Estiliza os títulos h1 */
h1 {
    font-family: "Cinzel Decorative", serif;
    font-style: bold;
    font-size: 3rem; /* Tamanho da fonte */
    color: #D4AF37; /* Cor do texto */
    text-shadow: 2px 2px 5px #000000, /* Sombra escura para dar profundidade */
                 0 0 20px #C9A66B, /* Sombra de brilho dourado */
                 0 0 30px #C9A66B, 
                 0 0 40px #C9A66B; /* Intensidade do brilho */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transição suave */
}

/* Efeito de hover */
#titulo-livro:hover {
    color: #FFD700; /* Cor de destaque no hover */
    text-shadow: 4px 4px 8px #000; /* Aumenta a sombra no hover */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilo do campo de pesquisa */
#campo-pesquisa {
    width: 30rem; /* Largura do campo de pesquisa */
    padding: 12px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #946b2d; /* Borda com cor inspirada em pergaminhos */
    border-radius: 25px; /* Borda arredondada para um visual suave */
    background-color: #fffdf0; /* Fundo levemente amarelado para parecer um pergaminho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
    transition: all 0.3s ease; /* Transição suave ao interagir */
}

#campo-pesquisa:focus {
    outline: none; /* Remove a linha de foco padrão */
    border-color: #70421e; /* Cor da borda ao focar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao focar */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 10px 20px; /* Espaçamento interno */
    margin-left: 10px; /* Espaçamento à esquerda */
    font-size: 16px; /* Tamanho da fonte */
    color: #fffdf0; /* Cor do texto */
    background-color: #7d1d1d; /* Cor de fundo inspirada na capa de um livro antigo */
    border: 2px solid #70421e; /* Borda com cor mais escura */
    border-radius: 20px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: all 0.3s ease; /* Transição suave ao interagir */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #ad2424; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

section button:active {
    background-color: #70421e; /* Muda a cor de fundo ao clicar */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra interna ao clicar */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    display: flex;
    flex-direction: column;
    
}

/* Estiliza cada item de resultado */
.item-resultado {
    padding: 1rem; /* Espaçamento interno */
    background-color: rgba(255, 253, 240, 0.9); /* Fundo semi-transparente inspirado em pergaminho */
    border: 2px solid #946b2d; /* Borda de pergaminho */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 1rem; /* Espaçamento inferior */
    font-family: 'Merriweather', serif; /* Fonte clássica e legível */
    color: #333; /* Cor de texto escuro para boa legibilidade */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho maior para títulos */
    color: #7d1d1d; /* Cor do título combinando com o tema */
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra para destacar o texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    font-family: "Baskerville", serif;
    color: #70421e; /* Cor de link que combina com o tema */
    text-decoration: none; /* Remove sublinhado padrão */
    font-weight: bold; /* Negrito para destacar links */
}

.item-resultado p {
    font-family: 'Merriweather', serif; /* Fonte clássica e legível */
    font-size: 1rem; /* Tamanho padrão para o texto */
    line-height: 1.6; /* Espaçamento entre linhas para melhorar a leitura */
    margin-bottom: 1rem; /* Espaçamento entre parágrafos */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
::-webkit-scrollbar-track {
    background: #2b2b2b; /* Cor de fundo da trilha da barra */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra interna */
  }
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #946b2d, #56371b); /* Gradiente para o "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada */
    border: 2px solid #2b2b2b; /* Borda para um efeito de profundidade */
  }
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #ad7b3a, #70421e); /* Efeito de hover no "polegar" */
  }
  
  /* Estilo para Firefox */
* {
    scrollbar-width: thin; /* Largura fina da barra */
    scrollbar-color: #946b2d #2b2b2b; /* Cor do "polegar" e da trilha */
  }

/* Estiliza o texto não encontrado */
.nao-encontrado {
    background-color: #30475E; /* Vermelho */
    color: #E6E2D3; /* Altere para a cor que desejar */
    font-family: "Merriweather", serif; /* Altere para a fonte que desejar */
    font-style: bold;
    font-size: 14px; /* Altere para o tamanho de fonte que desejar */
    padding: 3px;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona um espaçamento superior */
    
}

.nao-digitou {
    background-color: #30475E; /* Vermelho */
    color: #E6E2D3; /* Altere para a cor que desejar */
    font-family: "Merriweather", serif; /* Altere para a fonte que desejar */
    font-style: bold;
    font-size: 14px; /* Altere para o tamanho de fonte que desejar */
    padding: 3px;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona um espaçamento superior */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #222831; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    font-family: "Merriweather", serif; /* Altere para a fonte que desejar */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #1A1A40; /* Cor de fundo do rodapé */
    color: #C0C0C0; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}